langchain==0.1.20
langchain-core==0.1.52
langchain-community==0.0.32
langchain-google-genai==0.0.6
google-generativeai==0.5.2
chromadb==0.4.24
ollama
langgraph==0.0.45
streamlit
requests
pydantic==1.10.12
typing_extensions
